<app-create-invoice [isNewInvoice]="isNewInvoice"></app-create-invoice>
<div class="p-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Create Date</th>
        <th scope="col">Due Date</th>
        <th scope="col">Status</th>
        <th scope="col">Amount</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of this.invoiceList">
        <th scope="row">1</th>
        <td>{{invoice.title}}</td>
        <td>{{invoice.createDate | date: "dd.MM.yyyy HH:mm"}}</td>
        <td>{{invoice.dueDate | date: "dd.MM.yyyy HH:mm"}}</td>
        <td>{{invoice.status}}</td>
        <td>{{invoice.amount}}{{invoice.ccy}}</td>
        <td class="text-right">
          <button class="btn btn-warning" (click)="editInvoice(invoice)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
